{% block title %}Model Example : Mixture + Compass{% endblock %}
{% block content %}
	<h1>{{ model.title }}</h1>
	<h2>A basic example.</h2>
	<p>List populated from the model:</p>
	<ol>
		{% for person in model.people %}
			<li><a href="http://twitter.com/{{ person.twitter }}">{{ person.name }}</a></li>
		{% endfor %}
	</ol>
	<p>Todays date: {{ 'now' | date: "%d %B %Y" }}. Model created: {{ model.modelDate | date: "%d %B %Y" }}</p>
{% endblock %}
